@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 10px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

h1 {
  font-size: 8rem;
  font-style: normal;
  color: #769353;
  text-transform: uppercase;
  margin: 4rem 0;
}

.search-form {
  width: 50%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1px 2px 5px #aaa;
  position: relative;
}

.alert {

  width: 50%;
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: #ebbf58;
  width: 50% ;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #769353;
  color: #fff;
}
.search-form input[type="submit"]:hover{
  background-color: #3d655d;
  color: rgb(7, 7, 7);
}

.recipes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}
.recipe-label{
  width: 100%;
  height: 60px;
}

.recipe h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #769353;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}
.phot-link{
  transition: all 1s;
}
.phot-link:hover {
  transform: scale(1.02);
}

.ingre-nut{
  /* align-self: flex-end; */
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  background-color: #e6e6e6;

}

span {
  line-height: 35px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: semibold;
} 

.recipe button{
  color: #3d655d;
  cursor: pointer;
}

.recipe .active{
  background-color: #ebbf58;
  color: #3d655d;
  border:#ebbf58 ;
  cursor: pointer;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #769353;
  font-size: 1.3rem;
}


.nut-list {
  margin-top: 1rem;
  background-color: #ebbf58;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.nut-list li {
  margin: 0.5rem 0;
}


.nut-weight {
  color: #769353;
  font-size: 1.3rem;
}